<h1>Login</h1>

<section>
<form id="loginFrom">
    <label>Correo</label>
    <input type="email" name="email"/>
    <label>Contraseña</label>
    <input type="password" name="password"/>
    <input type="submit"/>
</form>
</section>
