<h1>Registrate</h1>

<section>
<form id="registerFrom">
    <label>Nombre</label>
    <input type="text" name="name" />
    <label>Apellido</label>
    <input type="text" name="lastname" />
    <label>Correo</label>
    <input type="email" name="email"/>
    <label>Contraseña</label>
    <input type="password" name="password"/>
    <input type="submit"/>
</form>
</section>

